<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>URL Shortener</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <h1>URL Shortener Microservice</h1>
    <h2>Short URL Creation</h2>
    <form action="api/shorturl/new" method="POST">
        <label for="url_input">URL to be shortened</label>
        <input id="url_input" type="text" name="url" placeholder="www.example.com">
        <input type="submit" value="POST URL">
    </form>
    <h2>Example Usage:</h2>
    <p>
        <code>[server url]/api/shorturl/5de5f5d773ab18343ce02cab</code>
    </p>
    <h2>Will Redirect to:</h2>
    <p>
        <code>https://www.google.com</code>
    </p>
</div>
</body>
</html>
