<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>URL Shortener</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <h1>URL Shortener Microservice</h1>
    <h2>Short URL Creation</h2>
    <form action="api/shorturl/new" method="POST">
        <label for="url_input">URL to be shortened</label>
        <input id="url_input" type="text" name="url" placeholder="www.example.com">
        <input type="submit" value="POST URL">
    </form>
    <h2>Example Usage</h2>
    <p>
        POST <code>[server_url]/api/shorturl/new</code> -- <code>www.your-url.com</code><br>
        Returns: <code>{"original_url":"www.your-url.com","short_url":"your-id-string"}</code>
    </p>
    <p>
        GET <code>[server_url]/api/shorturl/your-id-string</code><br>
        Redirects To: <code>https://www.your-url.com</code>
    </p>
    <p>
        Bad URL Returns: <code>{"error":"invalid URL"}</code>
    </p>
</div>
</body>
</html>
